<a href="https://colab.research.google.com/github/BartekPodgorski/Python/blob/main/data-science-training/02_pandas/04_merge_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
def fetch_financial_data(company='AMZN'):
  import pandas_datareader.data as web
  return web.DataReader(name=company,data_source='stooq')

apple =  fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [3]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2020-11-03 to 2015-11-06
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 58.9 KB

In [4]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 376 entries, 2020-11-03 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    376 non-null    float64
 1   High    376 non-null    float64
 2   Low     376 non-null    float64
 3   Close   376 non-null    float64
 4   Volume  376 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 17.6 KB

In [5]:
apple.head()

              Open    High     Low   Close     Volume
Date
2020-11-03  109.66  111.49  108.73  110.44  107624448
2020-11-02  109.11  110.68  107.32  108.77  122866899
2020-10-30  111.06  111.99  107.72  108.86  190573476
2020-10-29  112.37  116.93  112.20  115.32  146129173
2020-10-28  115.05  115.43  111.10  111.20  143937823

In [6]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [10]:
df = pd.concat(objs=[apple,amazon,google,uber],axis=1)

In [13]:
pd.set_option('display.float_format',lambda x:f'{x:.2f}')
df.describe().T

                count         mean  ...          75%          max
apple_open    1257.00        47.61  ...        53.87       137.59
apple_high    1257.00        48.12  ...        54.45       137.98
apple_low     1257.00        47.11  ...        53.26       130.53
apple_close   1257.00        47.64  ...        53.90       134.18
apple_volume  1257.00 137709019.16  ... 162845264.00 565092196.00
amazon_open   1257.00      1479.04  ...      1848.00      3547.00
amazon_high   1257.00      1494.54  ...      1867.78      3552.25
amazon_low    1257.00      1461.31  ...      1830.02      3486.68
amazon_close  1257.00      1478.67  ...      1849.86      3531.45
amazon_volume 1257.00   4314574.48  ...   5204350.00  16552598.00
google_open   1257.00      1067.99  ...      1211.29      1699.52
google_high   1257.00      1078.12  ...      1221.59      1726.10
google_low    1257.00      1057.65  ...      1203.26      1660.19
google_close  1257.00      1068.32  ...      1211.31      1717.39
google_volume 1257.00   1757685.59  ...   2014320.00   6658855.00
uber_open      376.00        33.98  ...        37.00        46.98
uber_high      376.00        34.66  ...        37.58        47.08
uber_low       376.00        33.19  ...        36.25        45.08
uber_close     376.00        33.95  ...        37.00        46.38
uber_volume    376.00  24374975.86  ...  31301672.00 186322536.00

[20 rows x 8 columns]

In [14]:
df.corr()

               apple_open  apple_high  ...  uber_close  uber_volume
apple_open           1.00        1.00  ...       -0.16         0.03
apple_high           1.00        1.00  ...       -0.17         0.04
apple_low            1.00        1.00  ...       -0.16         0.03
apple_close          1.00        1.00  ...       -0.17         0.03
apple_volume         0.06        0.07  ...       -0.34         0.37
amazon_open          0.94        0.94  ...       -0.01        -0.07
amazon_high          0.94        0.94  ...       -0.02        -0.07
amazon_low           0.94        0.94  ...       -0.01        -0.08
amazon_close         0.94        0.94  ...       -0.02        -0.07
amazon_volume        0.15        0.15  ...       -0.23         0.26
google_open          0.92        0.92  ...       -0.11         0.04
google_high          0.93        0.93  ...       -0.13         0.05
google_low           0.92        0.92  ...       -0.10         0.02
google_close         0.92        0.92  ...       -0.11         0.03
google_volume        0.09        0.09  ...       -0.25         0.33
uber_open           -0.17       -0.18  ...        0.99        -0.32
uber_high           -0.18       -0.18  ...        0.99        -0.27
uber_low            -0.16       -0.16  ...        0.99        -0.34
uber_close          -0.16       -0.17  ...        1.00        -0.30
uber_volume          0.03        0.04  ...       -0.30         1.00

[20 rows x 20 columns]

In [16]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [18]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [20]:
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.94          0.92       -0.17
amazon_close         0.94          1.00          0.95       -0.02
google_close         0.92          0.95          1.00       -0.11
uber_close          -0.17         -0.02         -0.11        1.00

In [21]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [23]:
df[closes].corr()

               apple_close  apple_volume  ...  uber_close  uber_volume
apple_close           1.00          0.06  ...       -0.17         0.03
apple_volume          0.06          1.00  ...       -0.34         0.37
amazon_close          0.94          0.03  ...       -0.02        -0.07
amazon_volume         0.15          0.46  ...       -0.23         0.26
google_close          0.92         -0.04  ...       -0.11         0.03
google_volume         0.08          0.44  ...       -0.25         0.33
uber_close           -0.17         -0.34  ...        1.00        -0.30
uber_volume           0.03          0.37  ...       -0.30         1.00

[8 rows x 8 columns]

In [24]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2020-11-03      35.27      36.15     35.15       35.77     16208783
2020-11-02      34.15      35.05     34.06       34.81     18350453
2020-10-30      33.91      34.39     33.16       33.41     13508512
2020-10-29      33.71      34.94     33.33       34.06     13735346
2020-10-28      33.62      33.66     32.90       33.65     15787858

In [25]:
uber_6 = uber[uber.index.month == 6]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2020-06-30      30.83      31.25     30.13       31.08     21282810
2020-06-29      29.51      29.75     28.39       29.63     20795402
2020-06-26      30.44      30.44     29.21       29.61     46482331
2020-06-25      30.00      30.86     29.56       30.58     19142789
2020-06-24      32.75      32.93     30.45       30.46     29477229
2020-06-23      32.88      33.21     32.59       33.05     13622126
2020-06-22      32.43      32.85     31.43       32.68     17790276
2020-06-19      33.98      34.02     32.27       32.30     29426285
2020-06-18      33.00      33.44     32.80       33.40     15495838
2020-06-17      33.50      33.59     33.01       33.29     14827742
2020-06-16      34.00      34.17     32.43       33.49     21377119
2020-06-15      31.16      32.68     31.02       32.67     21350290
2020-06-12      32.73      32.74     31.04       32.24     27685169
2020-06-11      32.63      33.24     30.89       31.10     45298714
2020-06-10      36.69      36.80     34.27       34.83     43473719
2020-06-09      36.70      37.33     36.25       36.59     15127269
2020-06-08      37.87      37.90     36.09       37.08     30099525
2020-06-05      37.53      38.78     36.92       37.21     30393429
2020-06-04      36.42      37.30     36.28       36.43     17423577
2020-06-03      36.20      37.37     36.14       36.75     23051776
2020-06-02      36.16      36.42     35.26       35.81     19328415
2020-06-01      35.64      36.39     35.16       35.82     21893806
2019-06-28      45.10      47.08     45.08       46.38     28657002
2019-06-27      43.35      45.30     43.20       45.13     20155079
2019-06-26      43.25      43.40     42.36       42.50      8109056
2019-06-25      43.28      43.79     42.44       43.09      5755107
2019-06-24      44.00      44.07     42.82       43.09      5985052
2019-06-21      43.85      44.14     43.38       44.00      4973987
2019-06-20      45.03      45.29     43.51       43.86      9567367
2019-06-19      44.46      45.50     43.95       44.86     10331520
2019-06-18      44.30      44.89     43.75       43.86      7313602
2019-06-17      43.28      44.08     42.93       43.78      6557589
2019-06-14      44.75      44.80     43.11       43.23      7902223
2019-06-13      43.05      44.35     42.80       44.31     10178935
2019-06-12      42.52      42.65     41.71       42.17      5965250
2019-06-11      43.22      43.65     41.80       42.45      9095044
2019-06-10      44.02      44.59     42.53       42.61     11618701
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

In [26]:
uber_7 = uber[uber.index.month == 7]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2020-07-31      30.40      30.42     29.79       30.26     16360999
2020-07-30      30.65      30.68     29.97       30.24     13062912
2020-07-29      30.92      31.26     30.77       31.02      8215892
2020-07-28      30.79      31.24     30.35       30.81     12977145
2020-07-27      31.21      31.60     30.75       30.99     10182302
2020-07-24      31.74      31.80     30.47       31.18     16896059
2020-07-23      32.33      33.02     31.98       32.17     12749770
2020-07-22      32.44      32.88     32.33       32.66     12128382
2020-07-21      34.16      34.23     32.53       32.55     16743293
2020-07-20      32.48      33.92     32.35       33.66     16213609
2020-07-17      32.58      32.82     31.85       32.55     13667896
2020-07-16      32.05      32.59     31.55       32.35     11090750
2020-07-15      32.10      32.97     31.68       32.81     20976523
2020-07-14      31.35      31.38     30.48       30.93     21781825
2020-07-13      33.21      33.60     31.66       31.72     19604822
2020-07-10      33.14      33.55     32.65       33.14     13586289
2020-07-09      34.24      34.46     32.26       33.15     25061818
2020-07-08      33.21      33.97     32.68       33.93     24602369
2020-07-07      32.46      33.56     32.39       32.82     34874658
2020-07-06      33.10      33.20     31.76       32.52     42392222
2020-07-02      31.02      31.57     30.51       30.68     14981137
2020-07-01      30.96      31.27     30.16       30.43     13611544
2019-07-31      42.60      42.98     41.84       42.14      5970774
2019-07-30      43.71      43.74     42.49       42.59      7686342
2019-07-29      45.00      45.63     43.12       43.88      8652204
2019-07-26      43.42      44.96     43.39       44.52      7598828
2019-07-25      43.72      43.96     43.21       43.40      4411991
2019-07-24      43.36      43.87     43.36       43.76      3775677
2019-07-23      43.75      44.31     43.11       43.36      5110090
2019-07-22      43.25      43.72     43.01       43.69      3822276
2019-07-19      43.90      44.09     43.16       43.18      4021018
2019-07-18      43.50      43.85     43.19       43.71      4123615
2019-07-17      44.06      44.35     43.52       43.62      5854149
2019-07-16      44.60      44.98     44.02       44.13      5613321
2019-07-15      44.20      44.70     43.97       44.53      5811160
2019-07-12      44.16      44.24     43.39       43.99      8760526
2019-07-11      44.10      44.29     43.31       43.99      8050856
2019-07-10      44.48      44.80     43.56       43.70      9746505
2019-07-09      43.18      44.23     42.98       44.20      5251564
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

In [28]:
uber_6_7 = uber_6.append(uber_7)

In [29]:
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2020-06-30      30.83      31.25     30.13       31.08     21282810
2020-06-29      29.51      29.75     28.39       29.63     20795402
2020-06-26      30.44      30.44     29.21       29.61     46482331
2020-06-25      30.00      30.86     29.56       30.58     19142789
2020-06-24      32.75      32.93     30.45       30.46     29477229
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[86 rows x 5 columns]