In [1]:
import numpy as np
import pandas as pd
products = pd.read_csv("C:/Users/user/Desktop/Python_Main/kurs_pandas/WA_Sales_Products_2012-14.csv")
products.head()

,Retailer country,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
0,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Deluxe Cook Set,2012,Q1 2012,59628.66,489,0.347548
1,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Double Flame,2012,Q1 2012,35950.32,252,0.474274
2,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Dome,2012,Q1 2012,89940.48,147,0.352772
3,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Gazer 2,2012,Q1 2012,165883.41,303,0.282938
4,United States,Fax,Outdoors Shop,Camping Equipment,Sleeping Bags,Hibernator Lite,2012,Q1 2012,119822.20,1415,0.291450

In [2]:
groups = products.groupby(by = ["Retailer country","Year"])

In [3]:
groups.size().head(10)

Retailer country  Year
Australia         2012    1402
                  2013    1376
                  2014     887
Austria           2012    1436
                  2013    1469
                  2014     957
Belgium           2012    1339
                  2013    1481
                  2014     890
Brazil            2012    1218
dtype: int64

In [4]:
groups.sum().head()

                           Revenue  Quantity  Gross margin
Retailer country Year
Australia        2012  25607043.50    522186    625.835424
                 2013  47799737.14    839750    625.650690
                 2014  35893188.50    638845    390.336301
Austria          2012  34568089.63    702134    636.115492
                 2013  44996737.04    803771    665.086198

In [7]:
groups.get_group(("Australia",2012)).head(10)

,Order method type,Retailer type,Product line,Product type,Product,Quarter,Revenue,Quantity,Gross margin
3735,Telephone,Golf Shop,Personal Accessories,Watches,Mountain Man Digital,Q1 2012,2161.34,53,0.509564
3736,Telephone,Golf Shop,Personal Accessories,Binoculars,Seeker Mini,Q1 2012,5689.60,70,0.507874
3737,Telephone,Golf Shop,Personal Accessories,Navigation,Glacier GPS,Q1 2012,17337.34,158,0.284152
3738,Telephone,Golf Shop,Golf Equipment,Irons,Hailstorm Steel Irons,Q1 2012,96118.50,255,0.413692
3739,Telephone,Golf Shop,Golf Equipment,Irons,Hailstorm Titanium Irons,Q1 2012,40149.72,46,0.437513
3740,Telephone,Golf Shop,Golf Equipment,Irons,Lady Hailstorm Steel Irons,Q1 2012,18529.23,37,0.445356
3741,Telephone,Golf Shop,Golf Equipment,Irons,Lady Hailstorm Titanium Irons,Q1 2012,36769.92,44,0.449550
3742,Telephone,Golf Shop,Golf Equipment,Woods,Hailstorm Steel Woods Set,Q1 2012,140202.24,206,0.498085
3743,Telephone,Golf Shop,Golf Equipment,Woods,Lady Hailstorm Titanium Woods Set,Q1 2012,33231.64,26,0.483116
3744,Telephone,Golf Shop,Golf Equipment,Woods,Lady Hailstorm Steel Woods Set,Q1 2012,23116.59,27,0.448451